<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Microfinance</title>
    @await Html.PartialAsync("_HeadPartial")
</head>

<body class="g-sidenav-show bg-gray-100">

<main role="main">
    @RenderBody()
</main>

@await Html.PartialAsync("_ScriptPartial")
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
