<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Microfinance</title>
    @await Html.PartialAsync("_HeadPartial")
    
</head>
<body class="g-sidenav-show   bg-gray-100">
<div class="min-height-100 bg-dark position-absolute w-100" style="z-index: -1;"></div>  
@await Html.PartialAsync("_SideBarPartial")
<main role="main" class="main-content position-relative border-radius-lg">
    @await Html.PartialAsync("_NavBarPartial")
    <div class="py-1 px-3 mx-4 mt-6">
        
        @RenderBody()
    </div>
</main>


@await Html.PartialAsync("_ScriptPartial")
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>