@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Configurar aplicación de autenticación";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<div class="page-header min-vh-80">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-9 d-flex flex-column mx-lg-0 mx-auto">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-start bg-gray-100">
                        <h4 class="font-weight-bolder">@ViewData["Title"]</h4>
                        <p class="mb-0">Configura tu aplicación autenticadora para seguridad adicional</p>
                    </div>
                    <div class="card-body">
                        <partial name="_StatusMessage" for="StatusMessage" />
                        
                        <p>Para usar una aplicación autenticadora, sigue estos pasos:</p>
                        <ol class="list">
                            <li>
                                <p>
                                    Descarga una aplicación de autenticación de dos factores como Microsoft Authenticator para
                                    <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> y
                                    <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> o
                                    Google Authenticator para
                                    <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=es">Android</a> y
                                    <a href="https://itunes.apple.com/es/app/google-authenticator/id388497605?mt=8">iOS</a>.
                                </p>
                            </li>
                            <li>
                                <p>Escanear el código QR o introduce esta clave <kbd>@Model.SharedKey</kbd> en tu aplicación de autenticación. Los espacios y mayúsculas no importan.</p>
                                <div id="qrCode" class="m-3"></div>
                                <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
                            </li>
                            <li>
                                <p>
                                    Una vez que hayas escaneado el código QR o introducido la clave, tu aplicación de autenticación te proporcionará
                                    un código único. Introduce el código en el cuadro de confirmación a continuación.
                                </p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form id="send-code" method="post">
                                            <div class="form-floating mb-3">
                                                <input asp-for="Input.Code" class="form-control" autocomplete="off" placeholder="Por favor ingresa el código."/>
                                                <label asp-for="Input.Code" class="control-label form-label">Código de verificación</label>
                                                <span asp-validation-for="Input.Code" class="text-danger"></span>
                                            </div>
                                            <button type="submit" class="w-100 btn btn-lg btn-primary">Verificar</button>
                                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
                <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden"
                     style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signin-ill.jpg');
                            background-size: cover;">
                    <span class="mask bg-gradient-primary opacity-6"></span>
                    <h4 class="mt-5 text-white font-weight-bolder position-relative">Autenticación en Dos Pasos</h4>
                    <p class="text-white position-relative">Protege tu cuenta con un código de acceso temporal.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/davidshimjs-qrcodejs-04f46c6/qrcode.js"></script>
    <script src="~/js/qr.js"></script>
}