@model IEnumerable<Microfinance.Models.Business.AuditLog>

@{
    ViewData["Title"] = "Registros de Auditoría";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0">Registros de Auditoría</h1>
</div>

<div id="auditGrid" style="height: 700px;"></div>

@section Scripts {
    <script>


        // Definición de columnas
        const columnDefs = [
            {
                headerName: "ID",
                field: "auditId",
                filter: 'agNumberColumnFilter'
            },
            {
                headerName: "Tabla Afectada",
                field: "affectedTable"
            },
            {
                headerName: "ID Registro",
                field: "recordId"
            },
            {
                headerName: "Acción",
                field: "action",
                cellRenderer: params => {
                    const action = params.value;
                    let badgeClass = 'bg-secondary';
                    if (action === 'Create') badgeClass = 'bg-success';
                    if (action === 'Update') badgeClass = 'bg-primary';
                    if (action === 'Delete') badgeClass = 'bg-danger';
                    return `<span class="badge ${badgeClass}">${action}</span>`;
                }
            },
            {
                headerName: "Fecha",
                field: "logTime",
                filter: 'agDateColumnFilter',
                valueFormatter: params => {
                    return new Date(params.value).toLocaleString();
                }
            },
            {
                headerName: "Usuario",
                field: "user.userName",
            }
        ];

        const gridOptions = getGridOptions(columnDefs, @Html.Raw(Json.Serialize(Model)));

        const gridDiv = document.querySelector('#auditGrid');

        if (gridDiv) {
            const api = agGrid.createGrid(gridDiv, gridOptions);


        } else {
            console.error('El elemento #auditGrid no fue encontrado en el DOM.');
        }
    </script>
}
